.mainBlock{
    background: #e7f0fe;
    height: 100vh;
}

.container {
    background-color: #ffdfdf;
    height: 100%;
    width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}